# Subset Variables

### Import pandas & Load csv

In [1]:
import pandas as pd
df2 = pd.read_csv('2_player_info_ArsenalFC.csv')
df2.drop(columns = ['Unnamed: 0'], inplace=True)

### Select multiple columns with specific names

In [2]:
df2[['name','position','시장가치(억)']].head()

                   name     position  시장가치(억)
0            Bernd Leno   Goalkeeper  429.440
1           Mathew Ryan   Goalkeeper  107.360
2  Rúnar Alex Rúnarsson   Goalkeeper   26.840
3           Dejan Iliev   Goalkeeper    4.026
4               Gabriel  Centre-Back  375.760

### Select sngle column with specific name

In [3]:
df2['name'].head()

0              Bernd Leno
1             Mathew Ryan
2    Rúnar Alex Rúnarsson
3             Dejan Iliev
4                 Gabriel
Name: name, dtype: object

In [4]:
df2.name.head()

0              Bernd Leno
1             Mathew Ryan
2    Rúnar Alex Rúnarsson
3             Dejan Iliev
4                 Gabriel
Name: name, dtype: object

### Select all columns between c1 and c2 (inclusivs)

In [5]:
df2.loc[:,'name':'birth (age)'].head()

                   name     position        birth (age)
0            Bernd Leno   Goalkeeper   Mar 4, 1992 (28)
1           Mathew Ryan   Goalkeeper   Apr 8, 1992 (28)
2  Rúnar Alex Rúnarsson   Goalkeeper  Feb 18, 1995 (25)
3           Dejan Iliev   Goalkeeper  Feb 25, 1995 (25)
4               Gabriel  Centre-Back  Dec 19, 1997 (23)

In [6]:
df2.loc[df2['position'] == 'Goalkeeper', ['name','position','시장가치(억)']]

                   name    position  시장가치(억)
0            Bernd Leno  Goalkeeper  429.440
1           Mathew Ryan  Goalkeeper  107.360
2  Rúnar Alex Rúnarsson  Goalkeeper   26.840
3           Dejan Iliev  Goalkeeper    4.026

### Select columns in position c1, c2 and c3 (first column is 0)

In [7]:
df2.iloc[:,[1,2,5]].head()

                   name     position  시장가치(억)
0            Bernd Leno   Goalkeeper  429.440
1           Mathew Ryan   Goalkeeper  107.360
2  Rúnar Alex Rúnarsson   Goalkeeper   26.840
3           Dejan Iliev   Goalkeeper    4.026
4               Gabriel  Centre-Back  375.760