# Summarize Data

### Import pandas & Load csv

In [1]:
import pandas as pd
df2 = pd.read_csv('2_player_info_ArsenalFC.csv')
df2.drop(columns = ['Unnamed: 0'], inplace=True)

### # of rows in DataFrame

In [2]:
len(df2)

26

### Basic descriptive statistics for each column (or GrupBy)

In [3]:
df2.describe()

          number     시장가치(억)
count  26.000000   26.000000
mean   18.423077  285.949231
std    11.426891  195.976455
min     1.000000    4.026000
25%     9.500000   97.295000
50%    17.500000  301.950000
75%    24.750000  429.440000
max    44.000000  671.000000

### Sum values of each object

In [4]:
df2['시장가치(억)'].sum()

7434.679999999999

### Count non-NA/null values of each object

In [5]:
df2.count()

number         26
name           26
position       26
birth (age)    26
nation         26
시장가치(억)        26
dtype: int64

### Median value of each object

In [6]:
df2.median()

number      17.50
시장가치(억)    301.95
dtype: float64

### Quantiles of each object

In [7]:
df2.quantile([0.25, 0.75])

      number  시장가치(억)
0.25    9.50   97.295
0.75   24.75  429.440

### Apply function to each object

In [8]:
import numpy as np
df2['시장가치(억)'].apply(np.round).head()

0    429.0
1    107.0
2     27.0
3      4.0
4    376.0
Name: 시장가치(억), dtype: float64

In [9]:
import math
df2['시장가치(억)'].apply(math.ceil).head()

0    430
1    108
2     27
3      5
4    376
Name: 시장가치(억), dtype: int64

### Minimum value in each object

In [10]:
df2.min()

number                           1
name           Alexandre Lacazette
position        Attacking Midfield
birth (age)      Apr 22, 1987 (33)
nation                   Australia
시장가치(억)                      4.026
dtype: object

### Maximum value in each object

In [11]:
df2.max()

number                       44
name                    Willian
position             Right-Back
birth (age)    Sep 5, 2001 (19)
nation              Switzerland
시장가치(억)                   671.0
dtype: object

### Mean value of each object

In [12]:
df2.mean()

number      18.423077
시장가치(억)    285.949231
dtype: float64

### Variance of each object

In [13]:
df2.var()

number       130.573846
시장가치(억)    38406.770873
dtype: float64

### Standard deviation of each object

In [14]:
df2.std()

number      11.426891
시장가치(억)    195.976455
dtype: float64

### Trim values at input thresholds

In [15]:
df2['시장가치(억)'].clip(lower = 100, upper = 300).head()

0    300.00
1    107.36
2    100.00
3    100.00
4    300.00
Name: 시장가치(억), dtype: float64

### Absolute value

In [16]:
df2['시장가치(억)'].abs().head()

0    429.440
1    107.360
2     26.840
3      4.026
4    375.760
Name: 시장가치(억), dtype: float64

### Mode value

In [17]:
df2['position'].mode()

0    Centre-Back
dtype: object

In [18]:
df2['nation'].mode()

0    England
dtype: object