# Make New Columns

### Import pandas & Load csv

In [1]:
import pandas as pd
df2 = pd.read_csv('2_player_info_ArsenalFC.csv')
df2.drop(columns = ['Unnamed: 0'], inplace=True)

### Compute and append one or more new columns

In [2]:
df2.assign(sex = lambda df2: 'Male').head()

,number,name,position,birth (age),nation,시장가치(억),sex
0,1,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,429.440,Male
1,33,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,107.360,Male
2,13,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,26.840,Male
3,44,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,4.026,Male
4,6,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,375.760,Male

### Add single column

In [3]:
df2['male'] = 'O'
df2.head()

,number,name,position,birth (age),nation,시장가치(억),male
0,1,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,429.440,O
1,33,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,107.360,O
2,13,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,26.840,O
3,44,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,4.026,O
4,6,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,375.760,O